@import "tailwindcss";

@theme {
  --color-main: #121212;
  --color-accent: #F0E74D;
}

h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3.75rem);
  font-weight: bold;
  line-height: 1;
}

h2 {

  font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
  font-weight: bold;
}

h3 {
  font-size: clamp(1rem, 2vw + 1rem, 2.25rem);
  font-weight: bold;
}

@layer utilities {
  .bg-slider-1 {
    background-image: url('/bg-slide-1.png');
    position: absolute;
    z-index: -10;
    top: 0;
  }

  .vector-img {
    background-image: url('/vector.svg');
    position: absolute;
    bottom: 0;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    z-index: 20;
  }

  .cta-bg {
    background-image: url('/cta-1-bg.svg');
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 422px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    opacity: 60%;
    z-index: 0;
  }

  .clip-section {
    clip-path: polygon(0 0, 100% 0, 90% 65%, 0% 100%);
  }

  .clip-button {
    filter: drop-shadow(10px 8px black);

    &::before {
      position: absolute;
      z-index: -1;
      inset: 0;
      clip-path: polygon(0% 5%, 100% 0, 95% 100%, 2% 90%);
      content: '';
    }
  }

  .custom-pagination {
    position: absolute;
    top: 65%;
    left: 55%;
    gap: 1rem;
    z-index: 200;
  }

  .custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--color-main);
    opacity: 1;
    border-radius: 50%;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-accent);
    opacity: 1;
  }

  .swiper-scrollbar {
    background: transparent !important;
  }

  .swiper-scrollbar-drag {
    background: var(--color-accent) !important;
    border-radius: 9999px;
  }


  .active {
    background-color: var(--color-accent);
    color: var(--color-main);
    font-weight: 700;
  }

}