@import "tailwindcss";

@theme {
  --color-navbar: #121212;
}

@layer utilities {
  .bg-slider-1 {
    background-image: url('/bg-slide-1.png');
    position: absolute;
    z-index: -10;
    top: 0;
  }

  .vector-img {
    background-image: url('/vector.svg');
    position: absolute;
    bottom: 0;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    z-index: 10;
  }

  .cta-bg {
    background-image: url('/cta-1-bg.svg');
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 422px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    opacity: 60%;
    z-index: 0;
  }
}